
.logoutButton{
    width: 3.5rem;
    height: 3.5rem;
    background: rgba(255, 255, 255, 0.05);
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    border: transparent;

    position: fixed;
    bottom: 1.5rem;

    display: flex;
    align-items: center;
    justify-self: center;
}

.logoutButton:hover{
    border: 1px solid rgba(255, 172, 6, 0.89) ;
}


.imgStyle{
    width: 3.5rem;
    height: 3.5rem;
    display: block;
}